@page "/fetchutcdatetime"
@inject AzureFunctionsClient Client

<PageTitle>UTC datetime</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching UTC datetime from an Azure function with an NswagClient.</p>

<h2>@utcDatetime</h2>

@code {
    private DateTimeOffset utcDatetime;

    protected override async Task OnInitializedAsync()
    {
        utcDatetime = await Client.ReturnDatetimeAsync();
    }
}
