@page "/fetchpeople"
@inject AzureFunctionsClient Client

<PageTitle>People</PageTitle>

<h1>People</h1>

<p>This component demonstrates fetching data from an Azure function with an NswagClient.</p>

@if (people == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var people in people)
            {
                <tr>
                    <td>@people.Name</td>
                    <td>@people.Age</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<PeopleDTO>? people;

    protected override async Task OnInitializedAsync()
    {
        people = await Client.GetPeopleAsync();
    }
}
